.fx-hide-overflow {
	overflow: hidden;
}
/* Parent (wrapper/ anchor) Element style */
.fx-root-split {
	position: relative;
}
/* Background Element style */
.fx-left-split {
	position: absolute;
	float: left;
	opacity: 0;
}
/* Foreground Element style */
.fx-right-split {
	float: right;
	opacity: 1;
}
/* [START] Collapse Animation Styles */
.fx-root-split.fx-collapse > .fx-left-split {
	animation: collapse-left 0.4s ease-in;
}
.fx-root-split.fx-collapse > .fx-right-split {
	animation: collapse-right 0.4s ease-in;
}
@keyframes collapse-left {
	0% {
		opacity: 0;
		transform: translateX(-0.75vw);
		clip-path: polygon(0 0, 87.5% 0, 12.5% 100%, 0 100%);
	}
	99.99999% {
		clip-path: polygon(0 0, 87.5% 0, 12.5% 100%, 0 100%);
	}
	100% {
		opacity: 1;
		clip-path: none;
	}
}
@keyframes collapse-right {
  0% {
		opacity: 0;
		transform: translateX(0.75vw);
		clip-path: polygon(87.5% 0, 100% 0, 100% 100%, 12.5% 100%);
	}
	99.99999% {
		opacity: 1;
		clip-path: polygon(87.5% 0, 100% 0, 100% 100%, 12.5% 100%);
	}
	100% {
		clip-path: none;
	}
}
/* [END] Collapse Animation Styles */
/* [START] Split Animation Styles */
.fx-root-split.fx-split > .fx-left-split {
	opacity: 1;
	clip-path: polygon(0 0, 87.5% 0, 12.5% 100%, 0 100%);
	animation: split-left 0.4s ease-out;
}
.fx-root-split.fx-split > .fx-right-split {
	opacity: 1;
	clip-path: polygon(87.5% 0, 100% 0, 100% 100%, 12.5% 100%);
	animation: split-right 0.4s ease-out;
}
@keyframes split-left {
	0% {
		opacity: 1;
	}
	99.99999% {
		transform: translateX(-0.75vw);
	}
	100% {
		opacity: 0;
		transform: translateX(0);
	}
}
@keyframes split-right {
	0% {
		opacity: 1;
	}
	99.99999% {
		transform: translateX(0.75vw);
	}
	100% {
		transform: translateX(0);
		opacity: 0;
	}
}
/* [END] Split Animation Styles */
